<%- include('../partials/header') %>
 <!-- unfinished and not working -->
<main class="main" id="main">
    <div class="container">
        <h1>Directors With More Than One Program</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% directors.forEach(director => { %>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= director.first_name %> <%= director.last_name %>
                            </h2>
                            <p class="card-text">
                                Programs Count: <%= director.director_count %>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>